/* * {
    border: 1px solid red;
} */

body {
    width: 80%; 
    margin: 0 auto;
}

/* ------ Container 01 ------*/

.flexbox-container {
/*     border: 3px solid #333;
 */    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-start;
}

.box {
    background: orange;
    border: 2px solid gray;
    padding: 0 10px;
    border-radius: 10px;
    flex: 1;
}

.sub {
    flex-flow: column;
/*     height: 400px;
 */}

.sub-box {
    background: #bdaaf0;
    padding: 0 45px;
    margin: 2px;
    align-self: center;
}

.sub > .sub-box:nth-child(1) {
    
}

.sub > .sub-box:nth-child(2) {
    
}

.sub > .sub-box:nth-child(3) {
    
}

.sub > .sub-box:nth-child(4) {
    order: -1;
}


/* ------ Container 02 ------*/

/* .flexbox-container:nth-child(2) > .box {
    background: #bdaaf0;
}

.flexbox-container:nth-child(2) > .box:nth-child(4) {
    margin-left: auto;
}

.flexbox-container:nth-child(2) {
    height: 400px;
    justify-content: space-around;
    flex-direction: column;
} */
